<block-ui>
  <div class="sidenav">
    <div class="logo" routerLink="/">
      <img
        src="assets/images/logos/propuestas logo 1 artemisa-02.png"
        class="light-logo"
        alt="homepage"
        width="150px"
      />
    </div>

    <div
      class="item"
      routerLinkActive="active"
      *ngFor="let data of sidebarnavItems"
    >
      <a [routerLink]="data.path">
        <i [class]="data.icon"></i>
        <span id="title">{{ data.title }}</span>
      </a>
    </div>
    <div class="item">
      <a [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </a>

      <mat-menu #menu="matMenu" xPosition="after">
        <button
          mat-menu-item
          (click)="openLink('https://domjudgeacademicueb.com/')"
        >
          <i class="bi bi-code-square"></i>
          <span>DomJudge</span>
        </button>
        <button mat-menu-item (click)="openLink('https://www.codechef.com/')">
          <i class="bi bi-cup-hot"></i>
          <span>CodeChef</span>
        </button>
        <button
          mat-menu-item
          (click)="openLink('https://vjudge.net/group/cuevadelprofdiego')"
        >
          <mat-icon>sentiment_satisfied_alt</mat-icon>
          <span>Vjudge</span>
        </button>
        <button mat-menu-item (click)="openLink('https://onlinejudge.org/')">
          <mat-icon>keyboard_alt</mat-icon>
          <span>Online Judge</span>
        </button>
      </mat-menu>
    </div>
    <div class="sub-item">
      <mat-slide-toggle color="accent" [formControl]="toggleControl">
      </mat-slide-toggle>
    </div>
  </div>
</block-ui>
