<div class="row animate__animated animate__bounceInLeft">
   <div class="card">
      <div class="card-body">
         <h4 class="card-title">Temarios separados por grupos</h4>
         <div class="accordion" id="accordionExample">

            <div class="accordion-item">
               <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                     aria-expanded="true" aria-controls="collapseOne">
                     <fa-icon [icon]="fatodotemario" style="padding-right: 5px;" size="1x"></fa-icon> Todo el temario
                  </button>
               </h2>
               <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>
                              <tr *ngFor="let tema of listatemas;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                       <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button></td>

                              </tr>
                           </tbody>s
                        </table>
                     </div>


                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <fa-icon [icon]="fateoria" style="padding-right: 5px;" size="1x"></fa-icon> Teoría básica
                  </button>
               </h2>
               <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listateoria;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="fabusquedas" style="padding-right: 5px;" size="1x"></fa-icon> Algoritmos de
                     búsqueda
                  </button>
               </h2>
               <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listabusquedas;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                     <fa-icon [icon]="faordenamientos" style="padding-right: 5px;" style="padding-right: 5px;"
                        size="1x"></fa-icon> Algoritmos de ordenamiento
                  </button>
               </h2>
               <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listaordenamientos;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="fastrings" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon> Manipulación de cadenas de caracteres y matching
                  </button>
               </h2>
               <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listastrings;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="fabitwise" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon> Manejo binario y bitwise
                  </button>
               </h2>
               <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listabitwise;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="faestructuras" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon>Estructuras de datos básicas y avanzadas
                  </button>
               </h2>
               <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listaestructuras;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="famatematicas" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon> Matemáticas
                  </button>
               </h2>
               <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listamatematica;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="fageometria" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon> Geometría
                  </button>
               </h2>
               <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listageometria;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="fagrafos" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon>Teoría de grafos, arboles y redes
                  </button>
               </h2>
               <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listagrafos;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="fadinamica" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon>Programación dinámica
                  </button>
               </h2>
               <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listadp;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapseThree">
                     <fa-icon [icon]="faotros" style="padding-right: 5px;" style="padding-right: 5px;" size="1x">
                     </fa-icon>Generadores de casos de prueba y otros
                  </button>
               </h2>
               <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="table-responsive">
                        <table datatable class="table table-hover align-middle text-nowrap table-bordered table-striped"
                           [dtOptions]="dtOptions[0]">
                           <tbody>

                              <tr *ngFor="let tema of listaeotros;index as i" class="">

                                 <td class="text-center">{{i}}</td>
                                 <td class="text-center">{{tema.tema}}</td>
                                 <td class="text-center">{{tema.supergrupo}}</td>
                                 <td class="text-center"> <button class="btn btn-success btn-sm" [id]="tema.ID" (click)="open(mymodal,tema.ID)">
                                    <fa-icon [icon]="fachevron" size="1x"></fa-icon>
                                    </button> </td>

                              </tr>
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row animate__animated animate__bounceInLeft">


   <ng-template #mymodal let-modal>
      <div class="modal-header modal-xl">
         <h4 class="modal-title" id="modal-basic-title">{{titulotema}}</h4>
         <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
         </button>
      </div>
      <div class="modal-body modal-xl">
         <div [innerHtml]="textotema"></div>
         <div class="card" *ngIf="codejava!=null">
            <div class="card-body">
               <h4 class="card-title"><img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" width="60" height="60">Java</h4>
               <ngx-codemirror [(ngModel)]="codejava" [options]="{
                  
                  theme: 'seti',
                  mode: 'text/x-java',
                  readOnly:true
               }">
               </ngx-codemirror>
            </div>
         </div>
         <div class="card" *ngIf="codecpp!=null">
            <div class="card-body">
               <h4 class="card-title"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png" width="60" height="60"> C++</h4>
               <ngx-codemirror [(ngModel)]="codecpp" [options]="{
                  
                  theme: 'seti',
                  mode: 'text/x-c++src',
                  readOnly:true
               }">
               </ngx-codemirror>
            </div>
         </div>
         <div class="card" *ngIf="codepython!=null">
            <div class="card-body">
               <h4 class="card-title"><img src="https://www.devacademy.es/wp-content/uploads/2018/10/python-logo.png" width="60" height="60"> Python</h4>
               <ngx-codemirror [(ngModel)]="codepython" [options]="{
                  
                  theme: 'seti',
                  mode: 'text/x-python',
                  readOnly:true
               }">
               </ngx-codemirror>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
   </ng-template>

   
</div>