<div [class.dark]="theme.isDark()" [class.light]="!theme.isDark()">
  <div class="menu-bar">
    <nav class="nav-container">
      <div class="logo-container">
        <img
          [src]="
            theme.isDark()
              ? 'assets/images/logos/propuestas logo 1 artemisa-02.png'
              : 'assets/images/logos/propuestas_logo_1_artemisa_Mesa_de_trabajo_1.png'
          "
          alt="Logo Artemisa"
        />
      </div>
      <a routerLink="/">Inicio</a>
      <a routerLink="/temario">Temario</a>

      <a routerLink="/problemas">Problemas</a>
      <a routerLink="/links">Links</a>
      <a routerLink="/calendar">Calendario</a>
      <div class="darkmode-container">
        <div class="dark-mode" (click)="toggleDarkMode()">
          <div class="circle">
            <ion-icon class="sun" name="sunny"></ion-icon>
            <ion-icon class="moon" name="moon"></ion-icon>
          </div>
        </div>
      </div>

      <ng-container *ngIf="isLoggedIn(); else authDropdown">
        <button class="auth-btn profile-active" routerLink="/perfil">
          <ion-icon name="person-circle-outline"></ion-icon>
          <span>Perfil</span>
        </button>
      </ng-container>
      <ng-template #authDropdown>
        <div ngbDropdown placement="bottom-end">
          <button class="auth-btn" ngbDropdownToggle>
            <ion-icon name="person-outline"></ion-icon>
            <span>Cuenta</span>
            <ion-icon name="chevron-down-outline" class="chevron"></ion-icon>
          </button>
          <div ngbDropdownMenu class="auth-menu">
            <button ngbDropdownItem routerLink="/login">
              <ion-icon name="log-in-outline"></ion-icon>
              Iniciar Sesión
            </button>
            <button ngbDropdownItem routerLink="/registrar">
              <ion-icon name="person-add-outline"></ion-icon>
              Registrar
            </button>
          </div>
        </div>
      </ng-template>
    </nav>
  </div>
</div>
