<div class="animate__animated animate__bounceInLeft">
    <div class="card">
        <div class="card-title">
            <h4 class="card-title"
                style="text-align: center; font-weight: bolder;color: rgb(226, 128, 8); padding-top: 10px;padding-bottom: -10px;font-size: 1.875em;">
                Estadísticas por juez
            </h4>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Online Judge
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card-body">
                            <div class="row" >
                                <div class="col-md-6 col-lg-4">
                                    {{uvaResponseCode}}
                                    <br>
                                    {{uvaid}}
                                    <br>
                                    {{uvaname}}
                                    <br>
                                    {{uvauname}}
                                    <br>
                                    <div *ngFor="let sub of uvasubs">
                                        {{sub}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CodeChef
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card-body">

                            <div class="row" *ngIf="codechef!=undefined">
                                <div class="col-md-6 col-lg-4">
                                    {{codechefResponseCode}}
                                    <br>
                                    {{codechef.rating}}
                                    <br>
                                    <div *ngIf="codechef.stars==null">
                                        sin estrellas
                                    </div>
                                    <div *ngIf="codechef.stars!=null">
                                        {{codechef.stars}}
                                    </div>
                                    {{codechef.highest_rating}}
                                    <br>
                                    {{codechef.global_rank}}
                                    <br>
                                    {{codechef.country_rank}}
                                    <br>
                                    {{codechef.user_details.name}}
                                    <br>
                                    {{codechef.user_details.username}}
                                    <br>
                                    {{codechef.user_details.country}}
                                    <br>
                                    {{codechef.user_details.state}}
                                    <br>
                                    {{codechef.user_details.city}}
                                    <br>
                                    {{codechef.user_details["student/professional"]}}
                                    <br>
                                    {{codechef.user_details.institution}}
                                    <br>

                                    Totalmente resueltos
                                    {{codechef.fully_solved.count}}
                                    <div *ngFor="let resuelto of codechef.fully_solved.Practice">
                                        {{resuelto.name}} -> {{resuelto.link}}
                                    </div>
                                    <br>

                                    Parcialmente resueltos
                                    {{codechef.partially_solved.count}}
                                    <div *ngFor="let resuelto of codechef.partially_solved.Practice">
                                        {{resuelto.name}} -> {{resuelto.link}}
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sphere Online Judge
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body" *ngIf="spoj!=undefined">
                        {{spoj.platform}}
                        <br>
                        {{spoj.points}}
                        <br>
                        {{spoj.rank}}
                        <br>
                        {{spoj.rank}}
                        <br>
                        {{spoj["join data"]}}
                        <br>
                        {{spoj.institute}}
                        <br>

                        solved
                        <div *ngFor="let sol of spoj.solved">
                            {{sol}} -> <a href="https://www.spoj.com/problems/{{sol}}/"> ir</a> 
                        </div>

                        to do
                        <div *ngFor="let todo of spoj.todo">
                            {{todo}} -> <a href="https://www.spoj.com/problems/{{todo}}/"> ir</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        CodeForces
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body" *ngIf="codeforcesinfo!=undefined">
                       {{cfResponseCode}}
                       <br>
                       {{codeforcesinfo.firstName}}
                       <br>
                       {{codeforcesinfo.lastName}}
                       <br>
                       {{codeforcesinfo.country}}
                       <br>
                       {{codeforcesinfo.city}}
                       <br>
                       {{codeforcesinfo.avatar}}
                       
                       <br>
                       {{codeforcesinfo.rating}}
                       <br>
                       {{codeforcesinfo.handle}}
                       <br>
                       {{codeforcesinfo.contribution}}
                       <br>
                       {{codeforcesinfo.organization}}
                       <br>
                       {{codeforcesinfo.maxRating}}
                       <br>
                       {{codeforcesinfo.maxRank}}
                       <br>
                       {{codeforcesinfo.rank}}
                       <br>
                       {{codeforcesinfo.registrationTimeSeconds}}
                       <br>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>