<div class="animate__animated animate__shakeX">
    <div class="d-flex align-items-center justify-content-center pt-10">
        <div class="center">
            <div class="row">
                <h1 style="text-align: center; font-weight: bolder; ">Uy carajo, un 404 salvaje ha aparecido</h1>
            </div>
            <div class="row">
                <img src="https://cdn.pixabay.com/photo/2017/06/08/17/32/not-found-2384304_960_720.jpg" alt="Me perdí"
                    style="width: 50vw">
            </div>
            <div class="row" mat-raised-button #tooltip="matTooltip" matTooltip="Usar una cuerda huida y salir de aquí"
                matTooltipPosition="above" matTooltipHideDelay="100000"
                aria-label="Cuerda huida">
                <a id="button" class="btn btn-primary " href="/"> Volver al inicio (Huir) </a>
            </div>
        </div>
    </div>
</div>
