.img-custom {
  height: 250px;
  width: 250px;
}

.logo {
  background: var(--logo);
  background-size: contain;
  width: 500px;
  height: 200px;
}

@media (max-width: 600px) {
  .logo {
    display: block;
    width: 100%;
    height: 150px;
  }
  .img-fluid {
    max-width: 50%;
  }
  .img-custom {
    height: 200px;
    width: 200px;
  }
}

.mat-card-header {
  text-align: center;
  display: block;
}

.card-pad {
  padding-top: 20px;
}
