<div class="animate__animated animate__bounceInLeft">
  <app-top-cards></app-top-cards>

  <!-- cards -->
  <!-- ============================================================== -->
  <app-blog-cards></app-blog-cards>
  <!-- ============================================================== -->
  <!-- cards -->
  <!-- ============================================================== -->
  <!-- ========================F====================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <div class="row" *ngIf="false">
    <div class="col-lg-12">
      <app-feeds></app-feeds>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
</div>