<mat-card>
  <mat-card-content
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1%"
  >
    <div fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="logo"></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <h1 class="typewriter">
          <fa-icon [icon]="fasmile"></fa-icon>
          Programación competitiva para todos
        </h1>
      </div>
    </div>

    <mat-card fxFlex.gt-md="49" fxFlex.gt-sm="100" class="card-pad">
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="faquestion"></fa-icon>
          ¿Que habilidades voy a mejorar?
        </mat-card-title>
        <mat-card-subtitle>Laborar y social</mat-card-subtitle>
      </mat-card-header>
      <div class="text-center">
        <img
          src="https://raw.githubusercontent.com/abranhe/programming-languages-logos/master/src/programming-languages.gif"
          height="250"
          width="250"
          class="img-fluid radius30"
          alt=""
          style="text-align: center; font-weight: bold"
        />
      </div>
      <mat-card-content>
        <div class="text-center">
          <p class="mt-3">
            <fa-icon [icon]="fain"></fa-icon>
            Tu capacidad de resolver problemas
          </p>
          <p class="mt-3">
            <fa-icon [icon]="fain"></fa-icon>
            Mejorar tu lógica matemática
          </p>
          <p class="mt-3">
            <fa-icon [icon]="fain"></fa-icon>
            Escritura y sintaxis de código
          </p>
          <p class="mt-3">
            <fa-icon [icon]="fain"></fa-icon>
            Trabajo en equipo con tus compañeros
          </p>
          <p class="mt-3">
            <fa-icon [icon]="fain"></fa-icon>
            Promoción de conocimiento de algoritmos
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-md="49" fxFlex.gt-sm="100" class="card-pad">
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="faquestion"></fa-icon>
          ¿Que oportunidades obtendré?
        </mat-card-title>
        <mat-card-subtitle
          >Enfrentando entrevistas de trabajo para programadores
        </mat-card-subtitle>
      </mat-card-header>
      <div class="text-center">
        <img
          src="https://media.tenor.com/images/d1d7f6ef9cf24497a9d61b0a83a0f50e/tenor.gif"
          class="img img-custom"
          alt=""
          style="border-radius: 50%"
        />
      </div>
      <mat-card-content>
        <div class="text-center">
          <p class="mt-3">
            <fa-icon [icon]="facheck"></fa-icon>
            Confianza al momento de programar
          </p>
          <p class="mt-3">
            <fa-icon [icon]="facheck"></fa-icon>
            Resistencia al fracaso
          </p>
          <p class="mt-3">
            <fa-icon [icon]="facheck"></fa-icon>
            Crecimiento de portafolio
          </p>
          <p class="mt-3">
            <fa-icon [icon]="facheck"></fa-icon>
            Acceso a mas oportunidades laborales
          </p>
          <p class="mt-3">
            <fa-icon [icon]="facheck"></fa-icon>
            Mejora a largo plazo de calidad de vida
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
