<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start me-auto">
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/dashboard"><fa-icon [icon]="fahome"></fa-icon> Inicio </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/about"><fa-icon [icon]="facircleinfo"></fa-icon> Acerca de... </a>
  </li>
  <!-- ============================================================== -->
  <!-- create new -->
  <!-- ============================================================== -->
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <a ngbDropdownToggle class="nav-link waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span>Ir a...</span>
    </a>
    <div ngbDropdownMenu>
      <a class="dropdown-item" href="https://domjudgeroca12.sa.ngrok.io"><fa-icon [icon]="facode"></fa-icon> Inicio competitiva</a>
      <a class="dropdown-item" href="https://domjudgeroca12.sa.ngrok.io/domjudge"><fa-icon [icon]="fagavel"></fa-icon> DomJudge</a>
      <a class="dropdown-item" href="https://www.codechef.com/"><fa-icon [icon]="fapizza"></fa-icon> CodeChef</a>
      <a class="dropdown-item" href="https://vjudge.net/group/cuevadelprofdiego"><fa-icon [icon]="faworld"></fa-icon> Vjudge</a>
      <a class="dropdown-item" href="https://onlinejudge.org/"><fa-icon [icon]="faonline"></fa-icon> Online Judge</a>
    </div>
  </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
</ul>