<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Topbar header - style you can find in topbar.scss -->
<!-- ============================================================== -->
<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer-content>
    <app-sidebar (onToogleSlidenav)="onToogleSlidenav($event)"></app-sidebar>
    <div id="main-wrapper" class="body" [ngClass]="getClass()" dir="ltr" data-theme="light"
         data-layout="vertical" [attr.data-sidebartype]="sidebartype" data-sidebar-position="absolute"
         data-header-position="absolute" data-boxed-layout="full">
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <router-outlet></router-outlet>
          <!-- ============================================================== -->
          <!-- End Start Page Content -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer ">
          <div class="row">
            <div class="text-center">
              Desarrollado por Diego Rodríguez, Edwin Villarraga y Paula Rosero
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              Proyecto Artemisa {{year}}
              <a href="https://github.com/roca12/ArtemisaAngular">
                <fa-icon [icon]="fagithub" size="2x"></fa-icon>
              </a>
            </div>
          </div>


        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>
