.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.body {
  width: calc(100% - 5rem) !important;
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #ffffff;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem) !important;
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem) !important;
  margin-left: 5rem;
}
