.body {
  width: calc(100% - 200px) !important;
  margin-left: 200px;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  padding: 3rem 3rem 3rem 5rem;
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .body {
    width: 100% !important;
    margin-top: 100px;
    margin-left: 0;
  }
}

.icon-git {
  color: var(--color-btn-second);
}
