<div class="card">
    <div class="card-body">
        <h4 class="card-title">Calendario de eventos y competencias</h4>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FBogota&src=bDl0cGt0OWJuNjRwdWhzYTk3ZnRvY25nOTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Y29kZWNoZWYuY29tXzNpbGtzZm12NDVhcXIzYXQ5Y2ttOTV0ZDVnQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19xYWdrYWhzaDExb3M2Z3JzcjEycWF0MGdib0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19sbGo5bXRndTNtcTZtaGQzdWtnbHRiaXY3c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZWZjYWpsbnF2ZHFqZW91ZDJzcHNpcGhucWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=azIzajIzM2d0Y3ZhdTdhOHVsazJwMzYwbTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=NmhjcmpqYW1tbjFjbjFzanVlbXE3cGo3cXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23EF6C00&color=%23F09300&color=%23AD1457&color=%23009688&color=%237CB342&color=%23039BE5&color=%238E24AA" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
</div>
