<div
  [class.dark]="theme.isDark()"
  [class.light]="!theme.isDark()"
  id="theme-container"
>
  <div class="container">
    <div class="logo-container">
      <img
        [src]="
          theme.isDark()
            ? 'assets/images/logos/propuestas logo 1 artemisa-02.png'
            : 'assets/images/logos/propuestas_logo_1_artemisa_Mesa_de_trabajo_1.png'
        "
      />
    </div>
    <div class="forms-container">
      <h1>Registro</h1>
      <form [formGroup]="registerForm" #formRef="ngForm">
        <div class="password-wrapper">
          <input
            type="text"
            placeholder="Nombre de usuario"
            formControlName="username"
          />
          @if (
            registerForm.get("username")?.touched &&
            registerForm.get("username")?.invalid
          ) {
            <div class="text-danger">
              @if (registerForm.get("username")?.errors?.["required"]) {
                <small>El nombre de usuario es obligatorio.</small>
              }
              @if (registerForm.get("username")?.errors?.["minlength"]) {
                <small>Mínimo 3 caracteres.</small>
              }
              @if (registerForm.get("username")?.errors?.["maxlength"]) {
                <small>Máximo 20 caracteres.</small>
              }
              @if (registerForm.get("username")?.errors?.["pattern"]) {
                <small
                  >No puedes utilizar símbolos para tu nombre de usuario</small
                >
              }
            </div>
          }
        </div>
        <div class="password-wrapper">
          <input
            type="text"
            placeholder="Correo@ejemplo.com"
            formControlName="email"
          />
          @if (
            registerForm.get("email")?.touched &&
            registerForm.get("email")?.invalid
          ) {
            <div class="text-danger">
              @if (registerForm.get("email")?.errors?.["required"]) {
                <small>El correo electrónico es obligatorio.</small>
              }
              @if (registerForm.get("email")?.errors?.["email"]) {
                <small>El correo electrónico no es válido.</small>
              }
            </div>
          }
        </div>

        <div class="password-wrapper">
          <input
            #nombreInput
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Contraseña"
            formControlName="password"
          />
          @if (
            registerForm.get("password")?.touched &&
            registerForm.get("password")?.invalid
          ) {
            <div class="text-danger">
              @if (registerForm.get("password")?.errors?.["required"]) {
                <small> La contraseña es obligatoria. </small>
              }
              @if (registerForm.get("password")?.errors?.["pattern"]) {
                <small>
                  Debe tener al menos 10 caracteres, una mayúscula, una
                  minúscula, un número y un símbolo (&#64;#$!%*?&).
                </small>
              }
            </div>
          }
          <span class="toggle-eye" (click)="togglePassword()">
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
          </span>
        </div>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Confirmar contraseña"
            formControlName="passwordConfirm"
          />
          @if (
            registerForm.hasError("passwordsMismatch") &&
            registerForm.get("passwordConfirm")?.touched
          ) {
            <div class="text-danger">
              <small>Las contraseñas no coinciden.</small>
            </div>
          }
          <span class="toggle-eye" (click)="togglePassword()">
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
          </span>
        </div>
        <div class="d-flex justify-content-center my-3">
          <ngx-recaptcha2
            #captchaRef
            [siteKey]="'6Le_WHArAAAAAFqukiJOxTKnkGHW6HEg0i7zs0ff'"
            [useGlobalDomain]="false"
            [theme]="theme.isDark() ? 'dark' : 'light'"
            formControlName="recaptcha"
            (success)="onRecaptchaResolved($event)"
          ></ngx-recaptcha2>
        </div>
        <button
          [disabled]="registerForm.invalid"
          (click)="register()"
          type="submit"
        >
          Registrar
        </button>
        <p class="register-text">
          ¿Ya tienes cuenta? <a routerLink="/login">Iniciar Sesión</a>
        </p>
      </form>
    </div>
  </div>
</div>
