.screen {
  width: calc(100% - 5rem) !important;
  margin-left: 5rem;
}


@media (max-width: 600px) {
  mat-toolbar {
    margin-top: 50px;
  }

  .screen {
    width: 100% !important;
    margin-left: 0;
    transition: all .5s ease;
    padding: 1rem;
  }
}
