<block-ui>
  <mat-card>
    <div style="overflow-x:auto;">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> opciones</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <button mat-raised-button class="btn-custom">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-raised-button class="btn-custom" style="margin-top: 10px">
                <mat-icon>delete</mat-icon>
              </button>

            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
        <ng-container matColumnDef="supergrupo">
          <th mat-header-cell *matHeaderCellDef> supergrupo</th>
          <td mat-cell *matCellDef="let element"> {{element.supergrupo}} </td>
        </ng-container>
        <ng-container matColumnDef="tema">
          <th mat-header-cell *matHeaderCellDef> tema</th>
          <td mat-cell *matCellDef="let element"> {{element.tema}} </td>
        </ng-container>
        <ng-container matColumnDef="complejidad_tiempo">
          <th mat-header-cell *matHeaderCellDef> complejidad_tiempo</th>
          <td mat-cell *matCellDef="let element"> {{element.complejidad_tiempo}} </td>
        </ng-container>

        <ng-container matColumnDef="orden">
          <th mat-header-cell *matHeaderCellDef> orden</th>
          <td mat-cell *matCellDef="let element"> {{element.orden}} </td>
        </ng-container>
        <ng-container matColumnDef="suborden">
          <th mat-header-cell *matHeaderCellDef> suborden</th>
          <td mat-cell *matCellDef="let element"> {{element.suborden}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</block-ui>
