.card-content-books {
  margin-bottom: 25px;
}

.btn-card {
  background-color: var(--color-btn);
  margin: 0.3em;
  color: white;
}

mat-card-content {
  padding-top: 1rem;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
